.all {
  background-color: #4a5767;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: #8b0000;
  color: white;
  font-size: 30px;
}

.about {
  background-color: #71706E;
  color: white;
  text-align: center;
}

#photo {
  text-align:center;
  display:block; 
}

#para {
  text-align: left;
  padding-left: 10px;
}

.sketch {
  padding-top: 20px;
}