.all {
  background-color: #4a5767;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

.header {
  padding: 20px;
  text-align: center;
  background-color: #8b0000;
  color: lightgrey;
  font-size: 30px;
}
